@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

:root {
    --header-height: 50px;
    --footer-height: 55px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import 'header.scss';
@import 'footer.scss';
@import 'body.scss';